@{
    this.ViewData["Title"] = "Fashionista | About Us";
    Layout = "Layouts/_Layout";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-1">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <h2 class="light-title rotate-title">
        The New Way to
        <strong class="word-rotater">
            success,advance,progress
        </strong>
    </h2>
    <div class="row">
        <div class="col-lg-10">
            <p class="lead">
                At Fashion Nova, we believe everybody should feel great to show themselves. Therefore, our aim is to support people in expressing their personality freely through fashion. Our passionate Fashion team empowers our customers to use fashion as expression by inspiring them with a diverse range of brands and styles. They are responsible for bringing our vision to life with focus is on the customer and therefore on countless different personalities, which are expressed through fashion. As online fashion platform, we follow our own path in the world of fashion pioneering in the field of fashion e-discovery. Do you want to follow it with us? Take the chance and become a part of our Fashion team!
            </p>
        </div><!-- End .col-lg-10 -->
        <div class="col-lg-2">
            <a href="#" class="btn btn-primary mt-2">Join Our Team!</a>
        </div><!-- End .col-lg-10 -->
    </div><!-- End .row -->

    <hr>

    <h2 class="light-title text-primary">Buying</h2>
    <p>We convince customers – because of our diversity. Our passionate Buying team is responsible for the various range of products. They take care about the purchase of all third-party brands and the further expansion of our brand portfolio. The team is always on a global look-out for the latest fashion and lifestyle trends. They know the best sellers for the upcoming seasons and negotiate the best deals with our suppliers, while always keeping an eye on the budget and pricing.</p>

    <hr>

    <h2 class="light-title text-primary">Procurement</h2>
    <p>For the variety in our online shop’s assortment, it is important to ensure the availability and an attractive presentation of the products. Here our Procurement team is leading ABOUT YOU to success: It consists of different sub-teams, which are responsible for the optimal planning, availability, and presentation of the products and assortments in our online shops. Through various reports, analyses, and forecasts, the teams ensure ideal planning and management of our assortments. Moreover, they are responsible for the partner management by owning the whole process of acquiring, contracting and onboarding new partners and brands.</p>

    <hr>

    <h2 class="light-title text-primary">The ‘Good’ in Fashion</h2>
    <p>Good fashion is not fashion that simply looks good or is mostly good. It is good in five important ways:</p>
    <p><strong>Good Materials</strong>  –  safe, healthy and designed for reuse and recycling</p>
    <p><strong>Good Economy</strong>  –  growing, circular, shared and benefiting everyone</p>
    <p><strong>Good Energy</strong>  –   renewable and clean</p>
    <p><strong>Good Water</strong>  –   clean and available to all</p>
    <p><strong>Good Lives</strong>  –  living and working conditions that are just, safe and dignified</p>
    
    
    <hr>


</div><!-- End .container -->