@using Fashionista.Web.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    this.ViewData["Title"] = "Fashionista | Affordable Clothing";
    Layout = "Layouts/_Layout";
}

@if (TempData["Payment"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <strong>@TempData["Payment"]</strong>
    </div>
}

<div class="home-slider-container">
    <partial name="Partials/_HomeSliderPartial"/>
</div>

<div class="container product-wrapper">
    @* @await Component.InvokeAsync("HomePageMenProductsComponent") *@
</div>

<div class="partners-container">
    @await Component.InvokeAsync(typeof(HomePageBrandsViewComponent))
</div>

<div class="container product-wrapper">
    @* @await Component.InvokeAsync("HomePageWomenProductsComponent") *@
</div>