@{
    this.ViewData["Title"] = "Fashionista | Terms of Service";
    Layout = "Layouts/_Layout";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-1">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Returns policy</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <h2 class="light-title rotate-title">
        Easy returns
    </h2>
    <p>When sending back your return using the returns portal or other return options, please be sure to return your items in accordance with the policy outlined below:</p>
    <p>Items must be sent back within 30 days of the delivery date.</p>

    <p>Items must be unworn, unwashed, and have original tags attached.</p>

    <p>Items must be free of stains, makeup, deodorant, or wear.</p>

    <p>Bodysuits, swimwear, and undergarments are non-returnable.</p>

    <p>Beauty products, cosmetics, and accessories are non-returnable.</p>

    <p>All returns will be refunded via store credit in the form of an E-Gift Card code.</p>

    <p>A 50% restocking fee may be applied to Final Sale or stale items returned.</p>

    <p>Returns are processed within 5-7 business days after your item(s) are delivered.</p>

    <p>We do not provide pre-paid return labels; you are responsible for covering shipping costs to return.</p>

    <p>Damaged, defective, or incorrect items must be reported within 2 business days of delivery. Please fill out the Online Return Assistance Form for assistance before returning.</p>

    <p>All returns must include a return request form or packing slip. If you do not have a return request form, you may download and print the form here.</p>

    <p>Return packages must include a return request form OR packing slip. If these are not filled out correctly, your return may experience issues in processing.</p>

    <p>When sending back items from multiple orders, please fill out a return form or packing slip from each order returned.</p>

    <p>Return drop-offs are not accepted at our Distribution Center or corporate office.</p>

    <p>Fashionista is not liable for any return packages that may become lost or stolen in-transit. Please keep your proof of postage and/or return tracking number when shipping back your returns.</p>
    <hr>


</div><!-- End .container -->