@{
    this.ViewData["Title"] = "Fashionista | Terms of Service";
    Layout = "Layouts/_Layout";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-1">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Shipping</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <h2 class="light-title rotate-title">
        Shipping policy
    </h2>
    <p>We use the services of DHL for shipping, the delivery time depends on the delivery option you select.</p>

</div><!-- End .container -->