@{
    this.ViewData["Title"] = "Fashion Nova | Terms of Service";
    Layout = "Layouts/_Layout";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-1">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Terms of Service</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <h2 class="light-title rotate-title">
        Terms of Service
    </h2>
    <p>The Website and Products are offered subject to your acceptance of these Terms and Conditions (“Terms” or “Agreement”). These Terms constitute a legally binding agreement between you and Fashion Nova, and you should read them carefully. By agreeing to these Terms, you also agree to the Fashion Nova Privacy Policy, Online Return Policy, Store Returns Policy and Shipping Policy, each of which is expressly incorporated by reference herein. </p>
    <p>THIS AGREEMENT CONTAINS AN ARBITRATION AGREEMENT AND CLASS ACTION WAIVER THAT WAIVE YOUR RIGHT TO A COURT HEARING OR JURY TRIAL OR TO PARTICIPATE IN A CLASS ACTION. ARBITRATION IS MANDATORY AND THE EXCLUSIVE REMEDY FOR ANY AND ALL DISPUTES UNLESS SPECIFIED BELOW OR IF YOU OPT-OUT. YOU MUST REVIEW THIS DOCUMENT IN ITS ENTIRETY BEFORE ACCESSING, USING, OR BUYING ANY PRODUCT THROUGH THE WEBSITE.</p>
    <hr>

    <h2 class="light-title text-primary">User Obligations</h2>
    <p>By downloading, accessing or using the Website, you represent that you are at least eighteen (18) years old or the legal age of majority, whichever is greater, and you are agreeing to these Terms. You also agree to abide by all applicable local, state, and national laws and regulations with respect to your use of the Website. You further represent you shall at all times provide true, accurate, current, and complete information (and updates thereto) when submitting information to Fashion Nova through the Website. You shall only use the Website as permitted by this Agreement, and you shall not use the Website or the Content for any commercial, political, obscene, illegal, or inappropriate purpose. Fashion Nova reserves the right, in its sole discretion, to terminate your access to the Website for any or no reason. If you register for an account on the Website, you may be required to designate an email address and password, and there may be additional requirements as designated by Fashion Nova from time to time. You agree to assume all responsibility concerning your use of the Website, including all activity occurring through your password (and related account access). You shall immediately notify Fashion Nova if you suspect or become aware of any loss, theft, or unauthorized use of your password. </p>

    <hr>

    <h2 class="light-title text-primary">Purchases</h2>
    <p>All purchases made through the Website are subject to our acceptance. This means that we may refuse to accept or may cancel any transaction, in our sole discretion, and without liability to you or any third party. The Website does not permit orders from dealers, wholesalers, or other customers who intend to resell items offered on the Website. Fashion Nova expressly conditions its acceptance of your order on your agreement to these Terms, and to all additional terms and conditions that are provided to you on the Website that govern your purchase of certain Products. By ordering Products through the Website, you agree to provide true, accurate, current, and complete information. Fashion Nova reserves the right without prior notice to discontinue or change specifications and prices on Products offered on and outside of the site without incurring any obligation to you. Prices and availability are subject to change without prior notice, and Fashion Nova reserves the right to revoke any offer to correct any errors, inaccuracies, or omissions.

    <p>Fashion Nova wants you to be satisfied with your purchases from this Website. If you wish to return a product, please review our Online Return Policy and Store Returns Policy, which are incorporated herein by reference.</p>

    <hr>

    <h2 class="light-title text-primary">Website Ownership and Content</h2>
    <p>The Website contains materials including, but not limited to, text, images, designs, photographs, videos, audio clips, graphics, button icons, pictures, advertising copy, URLs, technology, software, and the overall arrangement or “look and feel” of such materials including copyrightable material, as well as trademarks, logos, and service marks that belong to either Fashion Nova, its licensors, licensees or other third parties (collectively the “Content”). The Website and the Content are owned, licensed, or controlled by Fashion Nova, its licensors, and certain other third parties, and all right, title, interest in and to the Content and the Website are the property of Fashion Nova, its licensors, or certain other third parties and are protected by United States and international copyright, trademark, trade dress, patent or other intellectual property rights and laws to the fullest extent possible. By using the Website, you will not obtain any ownership or intellectual property or other interest in any item or content on the Website. Subject to your agreement and compliance with this Agreement, Fashion Nova grants you a limited, non-exclusive, non-transferrable, non-assignable, revocable license to access, display, view, and use the Content on the Website for your own personal, non-commercial use only. You agree that Fashion Nova may immediately and, without notice to you, suspend or terminate the availability of the Website, its Content, or the Products without any liability to you or any third party. </p>

    <hr>

    <h2 class="light-title text-primary">Privacy</h2>
    <p>You understand, acknowledge, and agree that the operation of certain portions of this Website or the receipt of certain information, such as registering or creating an account on this Website, requires the submission, use, and dissemination of certain personally identifiable information. Please note that by providing your mobile phone number to the Website, you are providing Fashion Nova your electronic signature expressly consenting to be contacted by telephone (including by automated dialing systems, prerecorded messages, SMS and MMS) at the number provided, even if the number you provide is on a corporate, state, or national Do Not Call list. You understand that your consent is not required to make a purchase. For a summary of Fashion Nova’s information collection and use, please see Fashion Nova’s Privacy Policy, which is incorporated herein by reference.</p>

    <hr>

    <h2 class="light-title text-primary">Miscallenous</h2>
    <p>This Agreement constitutes the entire agreement between you and Fashion Nova and supersedes any prior version of this Agreement and Fashion Nova. If any provision of this Agreement is found by the arbitrator or (if proper) a court of competent jurisdiction to be invalid, the remaining provisions shall not be affected thereby and shall continue in full force and effect, and such provision may be modified or severed from this Agreement to the extent necessary to make such provision enforceable and consistent with the remainder of this Agreement.</p>

    <hr>

    <h2 class="light-title text-primary">Website Ownership and Content</h2>
    <p>The Website contains materials including, but not limited to, text, images, designs, photographs, videos, audio clips, graphics, button icons, pictures, advertising copy, URLs, technology, software, and the overall arrangement or “look and feel” of such materials including copyrightable material, as well as trademarks, logos, and service marks that belong to either Fashion Nova, its licensors, licensees or other third parties (collectively the “Content”). The Website and the Content are owned, licensed, or controlled by Fashion Nova, its licensors, and certain other third parties, and all right, title, interest in and to the Content and the Website are the property of Fashion Nova, its licensors, or certain other third parties and are protected by United States and international copyright, trademark, trade dress, patent or other intellectual property rights and laws to the fullest extent possible. By using the Website, you will not obtain any ownership or intellectual property or other interest in any item or content on the Website. Subject to your agreement and compliance with this Agreement, Fashion Nova grants you a limited, non-exclusive, non-transferrable, non-assignable, revocable license to access, display, view, and use the Content on the Website for your own personal, non-commercial use only. You agree that Fashion Nova may immediately and, without notice to you, suspend or terminate the availability of the Website, its Content, or the Products without any liability to you or any third party. </p>

    <hr>


</div><!-- End .container -->