@using Fashionista.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


 @if (this.SignInManager.IsSignedIn(this.User))
     { 
         <a asp-area="Identity" asp-page="/Account/Logout">Logout</a>
     } 
     else
     {
         <a asp-area="Identity" asp-page="/Account/Login">Login</a>
     } 
