@using Fashionista.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@* *@
@* @if (this.SignInManager.IsSignedIn(this.User)) *@
@*     { *@
@*         <a asp-controller="Account" asp-action="Logout">Logout</a> *@
@*     } *@
@*     else *@
@*     { *@
@*         <a asp-controller="Account" asp-action="Login">Login</a> *@
@*     } *@
