@{
    ViewData["Title"] = "404 - Page Not Found!";
}
<header>
    <div class="text-center">
        <h1 class="text-danger display-3"><strong>404!</strong></h1>
        <h3 class="text-danger">We're sorry, but the page you were looking for doesn't exist.</h3>
    </div>
</header>
