@model Fashionista.Application.MainCategories.Queries.GetAllMainCategoriesNavigation.CategoriesNavigationViewModel


<div class="header-left">
    <ul class="menu sf-arrows">
        <li class="active">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        @if (Model.Categories.Any())
        {
            foreach (var category in Model.Categories)
            {
                <li>
                    <a href="#" class="sf-with-ul">@category.Name</a>
                    <ul>
                        @foreach (var subCategory in category.SubCategories)
                        {
                            <li>
                                <a asp-controller="Category" asp-action="Index" asp-route-id="@subCategory.Id">@subCategory.Name</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>
<div class="header-center">
    <a asp-controller="Home" asp-action="Index" class="logo">
        <img src="~/images/newlogo.png" alt="Logo">
    </a>
</div>

<div class="header-right">
    <ul class="menu sf-arrows">
        <li>
            <a href="#" class="sf-with-ul">Pages</a>
            <ul>
                <li>
                    <a asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage">My Account</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                    <ul>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="single.html">Blog Post</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                </li>
                <li>
                    <partial name="_LoginPartial"/>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot Password</a>
                </li>
            </ul>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li>
                <a asp-controller="Home" asp-action="Index">Admin Panel</a>
            </li>
        }
        <li>
            <a href="#">Special Offer!</a>
        </li>

    </ul>

    <button class="mobile-menu-toggler" type="button">
        <i class="icon-menu"></i>
    </button>
</div><!-- End .header-right -->