@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Fashionista | Register";
}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="heading">
                <h2 class="title">Create An Account</h2>
                <p class="text-info">
                    You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </p>
            </div><!-- End .heading -->

            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" required>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" required>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div><!-- End .form-footer -->
            </form>
        </div><!-- End .col-md-6 -->
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}