@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <h1>Please check your email to reset your password</h1>
    <div class="mb-10"></div><!-- margin -->
</div><!-- End .container -->