@page
@model LoginModel

@{
    ViewData["Title"] = "Fashionista | Log in";
}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </div><!-- End .container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="heading">
                <h2 class="title">Login</h2>
                <p>If you have an account with us, please log in.</p>
            </div><!-- End .heading -->

            <form method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.Email" class="form-control" placeholder="Email Address" required>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary" id="customLogin">LOGIN</button>
                    <a asp-page="./ForgotPassword" class="forget-pass"> Forgot your password?</a>
                </div><!-- End .form-footer -->
            </form>
            <partial name="ExternalLoginsPartial"/>
        </div><!-- End .col-md-6 -->
        <div class="col-md-6">
            <div class="heading">
                <h2 class="title">Create An Account</h2>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">Create Account</a>
            </div><!-- End .heading -->
        </div><!-- End .col-md-6 -->
    </div>
</div>