@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Log out</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <h1 class="text-dark">@ViewData["Title"]</h1>
        <p class="text-dark">You have successfully logged out of the website</p>
    </div><!-- End .container -->
</header>

@section Scripts
{
    <script type="text/javascript">
    setTimeout(function () {
      window.location.replace('@Url.Action("Index", "Home")')
    }, 2000);
    </script>
}
